<template>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12  mb-5">
        <form>
          <div class="form-group">
            <label for="id_git">Github Id:</label>
            <input type="text" v-model="idGit" class="form-control"  placeholder="Enter Id github">
          </div>
          <button type="button" @click="loadUserData" class="btn btn-primary">Valider</button>
        </form>
      </div>
    </div>
    <div class="row" v-if="result" >
      <div class="col-md-5 col-xs-12">
        <div class="card">
          <img class="card-img-top " :src="result.avatar_url" :alt="result.name">
          <div class="card-body">
            <h4 class="card-title" v-text="result.login"></h4>
            <p class="card-text"><span>Date creation:</span> {{result.created_at | formatDate}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <div class="card w-100"  v-for="item in listRepoDist">
          <div class="card-body">
            <h4 class="card-title" v-text="item.name"></h4>
            <h6 class="card-subtitle mb-2 text-muted">Date creation: {{item.created_at | formatDate}}</h6>
            <p class="card-text" v-text="item.description"></p>
            <div v-if="item.commits">
              <a v-if="item.commits.commit.url" :href="item.commits.commit.url" target="_blank" class="card-link">Last Ticket:</a> <span v-text="item.commits.commit.message"></span><br>
              <a v-if="item.commits.committer"  :href="item.commits.committer.html_url" target="_blank" class="card-link">Attributed to: </a><span v-text="item.commits.commit.committer.name"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="result === null && comp > 0" >
      <div class="col-md-12 md-auto">
        <div class="alert alert-danger" role="alert">
          Oooops please check id github that you have put or API GitHub rate limit exceeded :(
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import informationRepo from '@/../static/data/informationRep.json'
import localRepo from '@/../static/data/listRepo.json'
import localListCommit from '@/../static/data/commits.json'

export default {
  name: 'GitHubProfile',
  computed: {
    urlApi () {
      return 'https://api.github.com/users/' + this.idGit + '?access_token=d714c9220b344a0984c5c1b8727572c587c4dbbc'
    }
  },
  watch: {
    tmpList: function (val) {
      this.listRepoDist.push(val)
    }
  },
  data () {
    return {
      comp: 0,
      informationRepo,
      localRepo,
      localListCommit,
      idGit: 'weborama',
      result: null,
      listRepoDist: [],
      tmpList: []
    }
  },
  methods: {
    loadUserData () {
      this.listRepoDist = []
      this.comp ++
      axios.get(this.urlApi)
        .then((response, err) => {
          this.result = response.status === 200 ? response.data : null
          this.getRepository(this.result.repos_url)
        })
        .catch(() => {
          this.result = null
        })
    },
    getRepository (param) {
      axios.get(param + '?access_token=d714c9220b344a0984c5c1b8727572c587c4dbbc')
      .then((response, err) => {
        if (response.data.length > 0) {
          let tmpListLocal = response.data
          tmpListLocal.map((item, i) => {
            let url = item.commits_url.split('{')
            axios.get(url[0] + '?access_token=d714c9220b344a0984c5c1b8727572c587c4dbbc')
            .then((responseCommit, err) => {
              tmpListLocal[i].commits = (responseCommit.status === 200 || responseCommit.status === 304) ? responseCommit.data[0] : false
              this.tmpList = tmpListLocal[i]
            })
            .catch(() => {
              tmpListLocal[i].commits = false
              this.tmpList = tmpListLocal[i]
            })
          })
        }
      })
      .catch(() => {
        this.listRepo = []
      })
    }
  }
}
</script>
