<template>
  <div id="app">
    <git-hub-profile/>
  </div>
</template>

<script>
import GitHubProfile from './components/GitHubProfile'

export default {
  name: 'app',
  components: {
    GitHubProfile
  }
}
</script>
